:root {
    --background-color-primary: #F7F7F7;
    --background-color-secondary: #000000;
    --text-color-primary: #000000;
    --text-color-secondary: #FFFFFF;
    --color-accent: #E2E1FF;
    --color-focus: #3914DC;
    --border-color: #000000;

    --font-family-primary: 'DM Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-family-secondary: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', sans-serif;

    --spacing-xs: 4px;
    --spacing-s: 10px;
    --spacing-m: 14px;
    --spacing-l: 20px;
    --spacing-xl: 42px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: var(--font-family-primary);
}

body.secondary {
    background-color: var(--background-color-secondary);
    color: var(--text-color-secondary);
}

img {
    max-width: 100%;
}
