label {
    display: block;
    margin-bottom: var(--spacing-s);
    font-size: 14px;
    font-weight: 400;
}

label span {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
}

button[type="submit"] {
    margin-top: var(--spacing-xl);
}
