header {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(10px, 3%, 32px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

header .link-github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 18px;
    text-decoration: none;
}
