body {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family-primary);
}

h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: var(--spacing-s);
}

h2 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: var(--spacing-m);
    text-align: center;
    padding: var(--spacing-s);
    background-color: var(--color-accent);
}

ul {
    margin-left: 15px;
    margin-bottom: var(--spacing-l);
    list-style-type: "- ";
}

li:not(:last-child) {
    margin-bottom: var(--spacing-m);
}

p:not(:last-child) {
    margin-bottom: var(--spacing-xl);
}
